

---
- name: Gestion des contrats
  hosts: localhost
  connection: local
  gather_facts: false


  vars:
    mysql_root_password: "azerty"
    mysql_db_name: "base"

  tasks:

   - name: Sélectionner les contrats de la base de données
     community.mysql.mysql_query:
      login_user: root
      login_password: "{{ mysql_root_password }}"
      login_db: "{{ mysql_db_name }}"
      query: |
          SELECT container_name, container_port, ct.contrat_id, date_expiration
          FROM containers c
          JOIN contrats ct ON c.contrat_id = ct.contrat_id
          WHERE ct.date_expiration < CURRENT_TIMESTAMP();
     register: selected_contracts






   - name: Ajouter les conteneurs expirés à l'inventory
     add_host:
      name: "{{ item.container_name }}"
      groups: expired_containers
      container_port: "{{ item.container_port }}"
     loop: "{{ selected_contracts.query_result[0] }}"    




   - name: Afficher le contenu de la variable2
     debug:
      var: groups['expired_containers']
     when: groups['expired_containers'] is defined

   

   - name: Arrêter et supprimer les conteneurs associés aux contrats expirés 
     community.docker.docker_container:
       name: "{{ item }}"
       state: absent
     loop: "{{ groups['expired_containers'] | map('extract', hostvars, 'inventory_hostname') | list }}"
     when: groups['expired_containers'] is defined



   - name: afficher ce que vaut item
     debug:
      var: item
     loop: "{{ groups['expired_containers'] | map('extract', hostvars, 'inventory_hostname') | list }}"
     when: groups['expired_containers'] is defined

   - name: afficher ce que vaut item[0]
     debug:
      var: item[0]
     loop: "{{ groups['expired_containers'] | map('extract', hostvars, 'inventory_hostname') | list }}"
     when: groups['expired_containers'] is defined


   - name: afficher ce que vaut hostvars[item].container_port
     debug:
      var: hostvars[item].container_port
     loop: "{{ groups['expired_containers'] | map('extract', hostvars, 'inventory_hostname') | list }}"
     when: groups['expired_containers'] is defined


   - name: Recréer un conteneur vierge
     community.docker.docker_container:
       name: "{{ item }}"
       ports:
        - "{{ hostvars[item].container_port }}:22"
       image: ubuntu-ssh
       state: started
     loop: "{{ groups['expired_containers'] | map('extract', hostvars, 'inventory_hostname') | list }}"
     when: groups['expired_containers'] is defined


   - name: Supprimer les conteneurs associés aux contrats expirés
     community.mysql.mysql_query:
      login_user: root
      login_password: "{{ mysql_root_password }}"
      login_db: "{{ mysql_db_name }}"
      query: |
        UPDATE users
        SET user_password = NULL where user_id IN (
        SELECT user_id FROM contrats WHERE date_expiration < CURRENT_TIMESTAMP()
        );
        UPDATE containers
        SET contrat_id = NULL where contrat_id IN (
        SELECT contrat_id FROM contrats WHERE date_expiration < CURRENT_TIMESTAMP()
        );

        DELETE FROM contrats WHERE date_expiration < CURRENT_TIMESTAMP();
