---
- name: configuration hôte
  hosts: all
  connection: local

  vars:
    ubuntu_containers :
      - name: container1
        port: 2221
      - name: container2
        port: 2222
      - name: container3
        port: 2223
    mysql_root_password: "azerty"
    mysql_db_name: "base"
    

  tasks:
    
    - name: démarrer plusieurs conteneurs 
      community.docker.docker_container:
        name: "{{ item.name }}"
        image: ubuntu-ssh
        state: started
        ports:
          - "{{ item.port }}:22"
        restart_policy: always
      loop: "{{ ubuntu_containers }}"  

    #créer bdd + créer une table conteneurs + la remplir
    #installation dans le vagrantfile?
    - name: installer serveur MySQL
      apt:
        name: mysql-server
        state: present

    - name: installer connecteur python
      apt:
        name: python3-mysqldb
        state: present

    - name: définir le mot de passe root MySQL 
      mysql_user:
        login_user: root
        login_password: ""
        user: root
        password: "{{ mysql_root_password }}"
        host_all: true
      ignore_errors: yes  # utile au premier run

    - name: créer la BDD
      community.mysql.mysql_db:
        name: "{{ mysql_db_name }}"
        state: present
        login_user: root
        login_password: "{{ mysql_root_password }}"

    - name: créer la table conteneurs
      community.mysql.mysql_query:
        login_user: root
        login_password: "{{ mysql_root_password }}"
        login_db: "{{ mysql_db_name }}"
        query: |
          CREATE TABLE IF NOT EXISTS containers (
              container_id INT PRIMARY KEY,
              container_name VARCHAR(100) NOT NULL,
              container_port VARCHAR(100) NOT NULL UNIQUE    );

    - name: insertion des conteneurs dans la table
      community.mysql.mysql_query:
        login_user: root
        login_password: "{{ mysql_root_password }}"
        login_db: "{{ mysql_db_name }}"
        query: |
            INSERT IGNORE INTO containers(container_name, container_port) VALUES
            ('{{ item.name }}','{{ item.port }}')
      loop: "{{ ubuntu_containers }}"
      when: first_run is defined

    - name: créer la table users
      community.mysql.mysql_query:
        login_user: root
        login_password: "{{ mysql_root_password }}"
        login_db: "{{ mysql_db_name }}"
        query: |
          CREATE TABLE IF NOT EXISTS users (
          user_id INT AUTO_INCREMENT PRIMARY KEY,
          user_name VARCHAR(100) NOT NULL,
          user_firstname VARCHAR(100) NOT NULL,
          user_password VARCHAR(100)
          );


    - name: créer la table contrats
      community.mysql.mysql_query:
        login_user: root
        login_password: "{{ mysql_root_password }}"
        login_db: "{{ mysql_db_name }}"
        query: |
          CREATE TABLE IF NOT EXISTS contrats (
          contrat_id INT AUTO_INCREMENT PRIMARY KEY,
          user_id INT,
          date_debut DATE,
          date_expiration DATE,
          FOREIGN KEY(user_id) REFERENCES users(user_id)   
          );


    - name: ajouter la colonne contrat_id à la table containers
      community.mysql.mysql_query:
        login_user: root
        login_password: "{{ mysql_root_password }}"
        login_db: "{{ mysql_db_name }}"
        query: |
          DROP PROCEDURE IF EXISTS ajout_contrat;
          CREATE PROCEDURE ajout_contrat()
          BEGIN
              IF NOT EXISTS (
              
                select 1
                from INFORMATION_SCHEMA.columns 
                where table_name = 'containers'
                  and column_name = 'contrat_id'
              ) THEN
              ALTER TABLE containers ADD COLUMN contrat_id INT;
              ALTER TABLE containers ADD CONSTRAINT fk_contrat_id FOREIGN KEY(contrat_id) REFERENCES contrats(contrat_id);
              
              END IF;
            END;
          
          CALL ajout_contrat();
          
      - name: lancement du cron 
        command: /vagrant/cron.sh
        become: yes


